<div *ngIf="post">
    <h1>Post:{{post.id}}</h1>
    <h2>{{post.title}}</h2>
    <i>By: {{post.author}}</i>
    <p>{{post.body}}</p>
    <h3>Comments</h3>
    <ul *ngIf="post.comments">
        <li *ngFor="let comment of post.comments">
            <span style="border: 1px solid lightgrey">{{comment.body}}</span>
        </li>
    </ul>

    <br><br>
    <h2>Services</h2>
    <ul>
        <li *ngFor="let client of clients">{{client | json}}</li>
    </ul>
</div>

    <button (click)="findAll()">Get All Posts</button>
    <button (click)="findAllCatBreeds()">Get All Breeds</button>
    <button (click)="peekCatBreed()">Peek Breeds by name</button>
    <button (click)="findAllEvents()">Get All Events</button>
    <button (click)="create()">Create</button>
    <button (click)="update1()">Update 1</button>
    <button (click)="create2()">Create 2</button>
    <button (click)="delete()">Delete</button>

    <div>
        <ul>
            <li *ngFor="let post of postList">{{post.id}}</li>
        </ul>
    </div>


<div>
    <ul>
        <li *ngFor="let breed of breeds">{{breed.name}}</li>
    </ul>
</div>

<div>
    <ul>
        <li *ngFor="let event of events">{{event.name}}</li>
    </ul>
</div>
